.chat-side
  .side-header
    .chat-header-box
      .chat-user-name
        %h2 Ken
      .chat-edit
        %ul
          %li
            %a{:href => ""}
              %i.fa.fa-edit
          %li
            %a{:href => ""}
              %i.fa.fa-cog
  .groups
    .group
      .group-name
        %h3 Group1
      .group-message
        %p Message1
    .group
      .group-name
        %h3 Group2
      .group-message
        %p Message2





